body.portal-screen {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #2d211e;
    display: flex;
    align-items: center;
    justify-content: center;



}

.portal-title {
    writing-mode: vertical-rl;
    text-orientation: upright;

    padding: 0 4vmin;
    gap: 3vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 7vmin;
    background-color: transparent;
    border-right: none;
    height: 100%;
    position: relative;
    overflow: visible;
}

.main-title {
    font-size: 20vmin;
    margin: 0;
    line-height: 1;
    color: #3e2723;
    letter-spacing: 0.2em;

}

.sub-title {
    margin: 0;
    border: none;
    font-size: 4vmin;
    color: #5d4037;
    border-right: 0.15vmin solid #333;
    padding-right: 0.3vmin;
    margin-right: 0.3vmin;
}

.custom-seal {
    width: 12vmin;
    height: auto;
    position: absolute;
    z-index: 10;
    top: 3vmin;
    right: 20vmin;
    transform: rotate(-10deg);
    transition: transform 0.4s;
    mix-blend-mode: multiply;
    opacity: 0.9;
}

.custom-seal:hover {
    transform: rotate(0deg) scale(1.1);
}

.back-link {
    position: absolute;
    bottom: 3vmin;
    left: 3vmin;
    font-size: 3vmin;
    color: #5d4037;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1vmin 2vmin;
    border-radius: 1vmin;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.content-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2vmin;
    overflow-x: scroll;
    height: auto;
}